In [6]:
#!pip install cif

In [8]:
from cif import cif
data, subjects, measures = cif.createDataFrameFromOECD(countries = ['USA'], dsname = 'MEI', frequency = 'Q')

Requesting URL http://stats.oecd.org/SDMX-JSON/data/MEI/USA...Q/all
Data downloaded from https://stats.oecd.org/SDMX-JSON/data/MEI/USA...Q/all?dimensionAtObservation=AllDimensions

In [36]:
import pandas as pd

df1 = data['USA', 'NAEXKP01']
df2 = data['USA', 'NAEXKP02']
df3 = data['USA', 'LREMTTTT']
df = [df1, df2, df3]
headers = ['GDP', 'Conso', 'Employment']
df_all = pd.concat(df, axis=1, keys = headers)
df_all

              GDP                                      Conso             \
measure      GPSA      GYSA      IXOBSA       STSA      GPSA       GYSA
time
1955-Q1  2.856249  6.168759   16.138048   2813.212  2.243799   7.176284
1955-Q2  1.627179  7.778845   16.400643   2858.988  1.915685   7.829176
1955-Q3  1.350478  8.014498   16.622130   2897.598  1.235180   7.703507
1955-Q4  0.600325  6.577551   16.721917   2914.993  1.255699   6.814188
1956-Q1 -0.388406  3.215506   16.656968   2903.671  0.162451   4.639801
...           ...       ...         ...        ...       ...        ...
2019-Q3  0.636915  2.076481  109.807006  19141.744  0.670344   2.452203
2019-Q4  0.586232  2.338885  110.450730  19253.959  0.393479   2.457574
2020-Q1 -1.262655  0.319261  109.056119  19010.848 -1.761918   0.192872
2020-Q2 -8.986117 -9.032775   99.256208  17302.511 -9.590769 -10.236515
2020-Q3  7.403492 -2.916364  106.604634  18583.501  8.900546  -2.897992

                               Employment
measure      IXOBSA       STSA         ST       STSA
time
1955-Q1   14.239157   1699.340  54.533333  55.733333
1955-Q2   14.511934   1731.894  56.333333  56.266667
1955-Q3   14.691183   1753.286  57.933333  57.066667
1955-Q4   14.875660   1775.302  57.866667  57.433333
1956-Q1   14.899825   1778.186  56.100000  57.533333
...             ...        ...        ...        ...
2019-Q3  111.455033  13301.349  60.966667  60.866667
2019-Q4  111.893585  13353.687  61.066667  61.000000
2020-Q1  109.922112  13118.406  60.366667  60.766667
2020-Q2   99.379736  11860.250  53.033333  52.900000
2020-Q3  108.225075  12915.877  56.233333  56.066667

[263 rows x 10 columns]